/* --- CSS Selector Reset --- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

div {
	/* We are temporarily creating a 1 pixel border to have a view of the html layout */
	border-width: 1px;
	border-style: solid;
}

@font-face {
	font-family: "streamster";
	src: url("./Fonts/Streamster.ttf");
}

/* --- Main CSS --- */
/* Background Image */
body {
	background: url("./images/wallpaperflare.com_wallpaper.jpg") center/cover;
}

/* Three main layout containers: top, content, bottom */
/* The top and bottom container will always occup 10% of the viewport height each. The middle container will have the other 80% */
body {
	display: flex;
	flex-direction: column;
}

.top.container {
	flex: 0 1 13vh;
}

.middle.container {
	flex: 1 1 auto;
}

.bottom.container {
	flex: 0 1 13vh;
}

/* Middle container: design the container layout */
/* Menu and canvas divs should occupy 70% of the viewport width plus the gap between them */
.middle.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5vw;
}

#menu {
	flex: 0 1 20vw;
}

#canvas {
	flex: 0 1 50vw;
}

/* MENU CONTAINER: design the the logo and menu options */
#menu {
	display: flex;
	flex-direction: column;
	gap: 4%;
}

#logo p{
	flex: 0 1 35%;
	font-family: "streamster";
	font-size: 6vh;
	text-align: center;
	/*  */
    color: #fff;
	text-shadow: 0 0 8px #fff, 0 0 24px #fff, 0 0 32px #f80022, 0 0 40px #f80022;
    inset: 0;
	transform: rotate(-8deg);
}

#neon {
	width: 50vw;
	height: 18vw;
	max-height: 60vh;
	color: #fff;
	text-align: center;
	font-family: streamster;
	font-size: 10vw;
	text-shadow: 0 0 8px #fff, 0 0 24px #fff, 0 0 32px #f80022, 0 0 40px #f80022;
	position: absolute;
	inset: 0;
	transform: rotate(-8deg);
	z-index: 100;
}

#clear {
	flex: 0 1 10%;
}

#canvas-size-form {
	flex: 0 1 10%;
}

/* Canvas-size input: Design the layout for the form itself */
#canvas-size-form {
	display: flex;
}

#canvas-size-form input {
	flex: 2;
}
#canvas-size-form button {
	flex: 2;
}

/* Canvas: Design the canvas */
#canvas {
	display: flex;
}

#inner-canvas {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.canvas-row {
	display: flex;
	flex: 1;
}

.canvas-cell {
	flex: 1;
}

/* Paint Effect: color in the canvas when button is hovered over */
.coloredIn {
	/* apply this class when cell is hovered over */
	background-color: black;
}



/*  */
@keyframes gridz{
    100%{
      transform: perspective(60vh) rotateX(75deg) translateY(6.25vh);
    }
}
#grid div{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    filter: blur(1px);
}

.stars{
    width: 1px;
    height: 1px;
    background: #fff;
    position: absolute;
}

@keyframes sunset{
    0%,5%{
        background: #45125e;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    70%{
        background: #A22561;
    }
    100%{
        height: 4vh;
        background: #E03263;
        transform: translateY(40vh);
    }
}
#mountain::before{
    content: "";
    width: 100vw;
    height: 4px;
    background: #fff;
    box-shadow:
    0 0 8px #fff,
    0 0 16px #fff,
    0 0 24px #af62ff,
    0 0 32px #af62ff;
    position: absolute;
    filter: blur(1px);
    z-index: 20;
}
#mountain div{
    background: linear-gradient(
        #090910 40%,
        #450547 100%
    );
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    z-index: 10;
}
#mountain div:nth-child(1){
    width: 24vw;
    height: 6vw;
    max-height: 6vh;
    inset: auto auto 45% -5%;
}
#mountain div:nth-child(2){
    width: 24vw;
    height: 8vw;
    max-height: 8vh;
    inset: auto auto 45% 5%;
}
#mountain div:nth-child(3){
    width: 30vw;
    height: 10vw;
    max-height: 10vh;
    inset: auto auto 45% 15%;
}
#mountain div:nth-child(4){
    width: 30vw;
    height: 18vw;
    max-height: 18vh;
    inset: auto auto 45% 30%;
}
#mountain div:nth-child(5){
    width: 30vw;
    height: 26vw;
    max-height: 26vh;
    inset: auto 30% 45% auto;
}
#mountain div:nth-child(6){
    width: 30vw;
    height: 10vw;
    max-height: 10vh;
    inset: auto 15% 45% auto;
    z-index: 9;
}
#mountain div:nth-child(7){
    width: 24vw;
    height: 8vw;
    max-height: 8vh;
    inset: auto 5% 45% auto;
    z-index: 8;
}
#mountain div:nth-child(8){
    width: 24vw;
    height: 6vw;
    max-height: 6vh;
    inset: auto -5% 45% auto;
    z-index: 7;
}
