@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");
@font-face {
	font-family: "streamster";
	src: url("./Fonts/Streamster.ttf");
}

/* --- CSS Selector Reset --- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

div.canvas-cell {
	/* We are temporarily creating a 1 pixel border to have a view of the html layout */
	border-width: 1px;
	border-style: solid;
}

/* --- Main CSS --- */
/* Background Image */
body {
	background: url("./images/wallpaperflare.com_wallpaper.jpg") center/cover;
}

/* THREE MAIN LAYOUT CONTAINERS: top, content, bottom */
/* The top and bottom container will always occup 10% of the viewport height each. The middle container will have the other 80% */
body {
	display: flex;
	flex-direction: column;
}

.top.container {
	flex: 0 1 13vh;
}

.middle.container {
	flex: 1 1 auto;
}

.bottom.container {
	flex: 0 1 13vh;
}

/* MIDDLE CONTAINER: design the container layout */
/* Menu and canvas divs should occupy 70% of the viewport width plus the gap between them */
.middle.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5vw;
}

#menu {
	flex: 0 1 20vw;
}

#canvas {
	flex: 0 1 50vw;
}

/* MENU CONTAINER: design the the logo and menu options */
#menu {
	display: flex;
	flex-direction: column;
	gap: 4%;
}

#logo p {
	flex: 0 1 35%;
	font-family: "streamster";
	font-size: 8vh;
	text-align: center;
	/*  */
	color: #fff;
	text-shadow: 0 0 8px #fff, 0 0 24px #fff, 0 0 32px #f80022, 0 0 40px #f80022;
	inset: 0;
	transform: rotate(-8deg);
}

#clear {
	flex: 0 1 10%;
	margin-top: 3vh;
}

.neon-box {
	background-color: black;
	/* animation: pulsate 1.5s infinite alternate; */
	border: 0.2rem solid #fff;
	border-radius: 5px;
	padding: 10px 0 0 0; /*0.4em;*/
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe,
		inset 0 0 1.3rem #bc13fe;
}

.neon-text {
	font-family: "Yesteryear";
	color: white;
	font-size: 5vh;
	color: #fff;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe, 0 0 82px #bc13fe,
		0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
}

#canvas-size-form {
	flex: 0 1 10%;
}

/* CANVAS-SIZE-FORM: Design the layout for the form itself */
#canvas-size-form {
	display: flex;
	width: 0;
	min-width: 100%;
}

#canvas-size-form input {
	flex: 2;
	background-color: white;
	min-width: 0;
}

input[type="text"] {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	color: black;
	font-size: 30px;
}

#canvas-size-form button {
	flex: 2;
}

/* Canvas: Design the canvas */
#canvas {
	display: flex;
}

#inner-canvas {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.canvas-row {
	display: flex;
	flex: 1;
}

.canvas-cell {
	flex: 1;
}

/* Paint Effect: color in the canvas when button is hovered over */
.coloredIn {
	/* apply this class when cell is hovered over */
	background-color: black;
}
